.react-bootstrap-table table{
    table-layout: auto;
    overflow-x: auto;
}

.custom-row-class{
    padding: 1000px;
}
.custom-row-class:hover{
    background-color: rgb(102, 177, 164);
    cursor: pointer;
}

.table-striped{
    color: rgb(32, 91, 105);
}
